In [1]:
import pandas as pd

In [3]:
!pwd

/content

In [4]:
!ls -l ./auto-mpg.csv

-rw-r--r-- 1 root root 21913 Jul  5 01:19 ./auto-mpg.csv

In [7]:
df = pd.read_csv('./auto-mpg.csv', header=None)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

결측치 확인, 데이터 타입 확인,

In [9]:
df.describe()

                0           1           2  ...           5           6           7
count  398.000000  398.000000  398.000000  ...  398.000000  398.000000  398.000000
mean    23.514573    5.454774  193.425879  ...   15.568090   76.010050    1.572864
std      7.815984    1.701004  104.269838  ...    2.757689    3.697627    0.802055
min      9.000000    3.000000   68.000000  ...    8.000000   70.000000    1.000000
25%     17.500000    4.000000  104.250000  ...   13.825000   73.000000    1.000000
50%     23.000000    4.000000  148.500000  ...   15.500000   76.000000    1.000000
75%     29.000000    8.000000  262.000000  ...   17.175000   79.000000    2.000000
max     46.600000    8.000000  455.000000  ...   24.800000   82.000000    3.000000

[8 rows x 7 columns]

전체 컬럼에 대한 통계치 (나머지 컬럼은 수치이고, 3번 컬럼만 데이터타입이 object이기 때문에 제외)

In [11]:
df[3].describe()

count       398
unique       94
top       150.0
freq         22
Name: 3, dtype: object

특정 컬럼에 대한 통계치만 확인 가능 (3번 컬럼은 데이터타입이 object이기 때문에 문자열과 관련된 통계값만 산출)

count: 전체 데이터 수. 398개

unique: 중복되는 값은 제거하고 카운트. 즉, 94개의 값으로 구성 (카테고리형으로 추정)

top: 가장 많이 반복되는 값의 회수. 150번 반복

freq: 중복되는 값의 빈도수

In [15]:
398 - 150, 150/398

(248, 0.3768844221105528)

하나의 카테고리가 1/3 이상 차지하는 것으로 보아 쏠림현상이 있을 것으로 예상

In [12]:
df[8].describe()

count            398
unique           305
top       ford pinto
freq               6
Name: 8, dtype: object

In [19]:
df[0].mean(), df[0].std(), df[5].count(), df[5].min(), df[5].max()

(23.514572864321615, 7.815984312565782, 398, 8.0, 24.8)