## 데이터 로딩

Boston House Prices

https://www.kaggle.com/vikrishnan/boston-house-prices

- ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, MEDV

In [5]:
# import pandas as pd
# pd.read_csv('./housing.csv', sep=' ', header=None, error_bad_lines=False)

In [6]:
import pandas as pd
df = pd.read_csv('./Boston.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [8]:
df.head(3)

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2           3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7

[3 rows x 15 columns]

In [11]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head(3)

      crim    zn  indus  chas    nox  ...  tax  ptratio   black  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7

[3 rows x 14 columns]

In [12]:
df.describe(include='all')

             crim          zn       indus  ...       black       lstat        medv
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

In [46]:
Y = df['medv']
X = df[['crim', 'zn', 'indus', 'nox', 'rm', 'age', 'dis', 'tax', 'ptratio', 'black', 'lstat']]

In [47]:
from sklearn import preprocessing

In [48]:
scaler = preprocessing.StandardScaler() 
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [49]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [50]:
X = scaler.transform(X)

In [51]:
from sklearn.linear_model import LinearRegression

In [52]:
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [53]:
lr.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [54]:
lr.score(X,Y)

0.7224570111761148

In [55]:
df.head(1)

      crim    zn  indus  chas    nox  ...  tax  ptratio  black  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.9   4.98  24.0

[1 rows x 14 columns]

## Pickle

In [56]:
import pickle
pickle.dump(lr, open('./boston_lr.pkl','wb'))
pickle.dump(scaler, open('./boston_standardscaler.pkl','wb'))

In [57]:
!ls -l ./boston_lr.pkl
!ls -l ./boston_standardscaler.pkl

-rw-r--r-- 1 root root 679 Jul  6 05:51 ./boston_lr.pkl
-rw-r--r-- 1 root root 783 Jul  6 05:51 ./boston_standardscaler.pkl

In [58]:
import pickle
lr = pickle.load(open('./boston_lr.pkl', 'rb'))
type(lr)

sklearn.linear_model._base.LinearRegression

In [59]:
scaler = pickle.load(open('./boston_standardscaler.pkl','rb'))
type(scaler)

sklearn.preprocessing._data.StandardScaler

## Predict with Linear Regression

In [60]:
# [[0.00632, 18.0, 2.31, 0.538, 6.575, 65.2, 4.09, 296, 15.3, 396.9, 4.98, 24.0]]
crim = 0.00632
zn = 18.0
indus = 2.31
nox = 0.538
rm = 6.575
age = 65.2
dis = 4.09
tax = 296
ptratio = 15.3,
black = 396.9
lstat = 4.98
medv = 24.0
x_custom = ([[crim, zn, indus, nox, rm, age, dis, tax, ptratio, black, lstat, medv]])